<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twoja Firma | Visiter</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/business.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav">
      <div class="nav__wrapper">
        <a href="/" class="nav__img--link"
          ><img
            src="/assets/imgs/visiter-inline.png"
            alt="Visiter"
            title="Visiter"
            class="nav--img"
        /></a>
        <section class="menu__list">
          <li class="menu__list--item">
            <a href="/" class="item--link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="item--icon"
              >
                <path
                  d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
                />
                <path
                  d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
                />
              </svg>
              <p class="list__item--name">Strona Główna</p>
            </a>
          </li>
          <li class="menu__list--item">
            <a href="/profile/<%= user._id %>" class="item--link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="item--icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                />
              </svg>
              <p class="list__item--name">Mój profil</p>
            </a>
          </li>
          <li class="menu__list--item">
            <a href="/business/search" class="item--link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="item--icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
              <p class="list__item--name">Szukaj</p>
            </a>
          </li>
          <li class="menu__list--item">
            <a href="/visits/<%= user._id %>" class="item--link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="item--icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z"
                />
              </svg>
              <p class="list__item--name">Moje wizyty</p>
            </a>
          </li>
          <li class="menu__list--item">
            <a href="/chat" class="item--link"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="item--icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
                />
              </svg>
              <p class="list__item--name">Wiadomości</p>
            </a>
          </li>
        </section>
      </div>
    </nav>
    <!-- Main block -->
<main class="main">
<section class="main__workers main--item">
  <div class="workers--header">
    <p class="workers--header--text">Twoi pracownicy</p>
  </div>
  <% if(business.workers != null){ %>
    <div class="workers--wraper">
      <% business.workers.forEach(function(worker) { %>
      <div class="workers--item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="avatar--img"
          >
            <path
              fill-rule="evenodd"
              d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
              clip-rule="evenodd"
            />
          </svg>
            <p class="user-info--text">
              <a href="/profile/<%= worker._id %>">
                <%= worker.name %>
                <br>
                    <%= worker.surname%>
              </a>
            </p>
          <form action="/business/myBusiness/<%= business._id%>/<%= worker._id %>/removeWorker" method="POST">
              <button class="btn--removeWorker" type="submit">Usuń </button>
          </form>
      </div>
      <% }); %>
    </div>
      <% } %>
      <!--
          <p>Dodaj uzytkownika</p>
          <form action="/business/myBusiness/<%=business._id%>/addWorker" method="POST">
              <label for="code"></label>
              <input type="text" name="code">
              <input id="submit" type="submit" value="Dodaj">
          </form>
      -->
</section>
<section class="main__profile main--item">
  <div class="business__edit">
    <a href="/business/myBusiness/<%= business._id %>/edit">
      <svg 
        class="business__edit--img" 
        xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 20 20"
      >
        <g transform="translate(-607.63544,-694.58531)">
          <path fill="none" stroke-linejoin="bevel" style="enable-background:accumulate;color:#000000;" d="m617.64,695.59c-0.46627,0-0.93351,0.0595-1.3807,0.12784-0.0711,1.1464-0.25115,2.2654-1.2017,2.6591-0.95268,0.39462-1.8476-0.28586-2.7102-1.0483-0.7542,0.55049-1.4432,1.215-1.9943,1.9688,0.76546,0.86506,1.4698,1.7545,1.0739,2.7102-0.39543,0.95468-1.5331,1.1311-2.6847,1.2017-0.07,0.45231-0.10227,0.90878-0.10227,1.3807,0,0.47795,0.0306,0.94843,0.10227,1.4062,1.1516,0.0705,2.2892,0.19589,2.6847,1.1506,0.3959,0.95577-0.3084,1.8963-1.0739,2.7614,0.54837,0.74809,1.2455,1.3957,1.9943,1.9432,0.85987-0.75912,1.7609-1.416,2.7102-1.0227,0.95468,0.39543,1.1311,1.5075,1.2017,2.6591,0.44717,0.0684,0.91441,0.10227,1.3807,0.10227,0.46628,0,0.90795-0.034,1.3551-0.10227,0.0705-1.1516,0.24703-2.2637,1.2017-2.6591,0.94933-0.39323,1.8504,0.2636,2.7102,1.0227,0.74877-0.54748,1.4459-1.1951,1.9943-1.9432-0.76545-0.86507-1.4698-1.8056-1.0739-2.7614,0.39544-0.95468,1.5586-1.08,2.7102-1.1506,0.0717-0.45782,0.10227-0.9283,0.10227-1.4062,0-0.4719-0.0324-0.92837-0.10227-1.3807-1.1516-0.0705-2.3148-0.24703-2.7102-1.2017-0.39589-0.95576,0.30841-1.8452,1.0739-2.7102-0.5511-0.75374-1.2401-1.4183-1.9943-1.9688-0.86258,0.76243-1.7576,1.4429-2.7102,1.0483-0.95056-0.39373-1.1306-1.5127-1.2017-2.6591-0.44716-0.0684-0.88883-0.12784-1.3551-0.12784zm0,6.0597c1.6261,0,2.9403,1.3142,2.9403,2.9403s-1.3142,2.9403-2.9403,2.9403-2.9659-1.3142-2.9659-2.9403,1.3398-2.9403,2.9659-2.9403z" stroke="#fff" stroke-linecap="square" stroke-miterlimit="4" stroke-dasharray="none" stroke-width="1" fill="#333"/>
        </g>
      </svg>
    </a>      
  </div>
  <div class="profile--header">
    <p class="profile--header--text"><%= business.name %></p>
  </div>
  <div class="profile--desc">
    <p class="profile--desc--text"><%= business.description %></p>
  </div>
  <div class="profile--info">
    <div class="profile--info--item">
      <p class="profile--info--label">Adres </p>
      <p class="profile--info--text"><%= business.address %></p>
    </div>
    <div class="profile--info--item">
      <p class="profile--info--label">Telefon </p>
      <p class="profile--info--text"><%= business.phone %></p>
    </div>
    <div class="profile--info--item">
      <p class="profile--info--label">Właściciel </p>
      <p class="profile--info--text"><%= business.ownerId.name %> <%= business.ownerId.surname %></p>
    </div>
  </div>
</section>
<section class="main__services main--item">
  <!--<h2>Twoje serwisy:</h2>
  <% if(business.services != null){ %>
      <ul>
          <% business.services.forEach(function(service) { %>
              <li>
                      <%= service.name %>
                      <br>
                      <%= service.description %>
                      <br>
                      <%= service.price %>zł, <%= service.duration %>h
                  <form action="/business/myBusiness/<%= business._id%>/<%= service._id %>/removeService"
                      method="POST">
                      <input type="submit" value="X">
                  </form>
              </li>
              <% }); %>
      </ul>
      <% } %>
          <p>Dodaj serwis</p>
          <form action="/business/myBusiness/<%=business._id%>/addService" method="POST">
              <label for="name">Nazwa</label>
              <input type="text" name="name"><br>
              <label for="description">Opis</label>
              <input type="text" name="description"><br>
              <label for="price">Cena</label>
              <input type="number" step="0.01" name="price"><br>
              <label for="duration">Czas</label>
              <input type="number" step="0.01" name="duration"><br>
              <input id="submit" type="submit" value="Dodaj">
          </form>-->
</section>
<section class="main__messages main--item">
<p>WIADOMOSCI</p>
</section>
<section class="main__opinions main--item">
  <h2>Twoje opinie:</h2>
  <% if(business.opinions != null){ %>
      <ul>
          <% business.opinions.forEach(function(opinion) { %>
              <li>
                  <%= opinion.comment %> - <%= opinion.rating %> od <%= opinion.ownerId.name %> <%= opinion.ownerId.surname %>
              </li>
          <% }) %>
      </ul>
  <% } %>
</section>
</main>
    <% if(message){%>
        <div class="error--popup">
          <p class="error--message"><%= message %></p>
        </div>
      <% }%>