<h1>TWOJA FIRMA</h1>


<h2>Twoi pracownicy:</h2>
<% if(business.workers != null){ %>
    <ul>
        <% business.workers.forEach(function(worker) { %>
            <li><a href="/profile/<%= worker._id %>">
                    <%= worker.name %>
                        <%= worker.surname%>
                </a>
                <form action="/business/myBusiness/<%= business._id%>/<%= worker._id %>/removeWorker" method="POST">
                    <input type="submit" value="X">
                </form>
            </li>
            <% }); %>
    </ul>
    <% } %>
        <p>Dodaj uzytkownika</p>
        <form action="/business/myBusiness/<%=business._id%>/addWorker" method="POST">
            <label for="code"></label>
            <input type="text" name="code">
            <input id="submit" type="submit" value="Dodaj">
        </form>
        <h2>Twoje serwisy:</h2>
        <% if(business.services != null){ %>
            <ul>
                <% business.services.forEach(function(service) { %>
                    <li>
                            <%= service.name %>
                            <br>
                            <%= service.description %>
                            <br>
                            <%= service.price %>zł, <%= service.duration %>h
                        <form action="/business/myBusiness/<%= business._id%>/<%= service._id %>/removeService"
                            method="POST">
                            <input type="submit" value="X">
                        </form>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <p>Dodaj serwis</p>
                <form action="/business/myBusiness/<%=business._id%>/addService" method="POST">
                    <label for="name">Nazwa</label>
                    <input type="text" name="name"><br>
                    <label for="description">Opis</label>
                    <input type="text" name="description"><br>
                    <label for="price">Cena</label>
                    <input type="number" step="0.01" name="price"><br>
                    <label for="duration">Czas</label>
                    <input type="number" step="0.01" name="duration"><br>
                    <input id="submit" type="submit" value="Dodaj">
                </form>
<h2>Twoje opinie:</h2>
    <% if(business.opinions != null){ %>
        <ul>
            <% business.opinions.forEach(function(opinion) { %>
                <li>
                    <%= opinion.comment %> - <%= opinion.rating %> od <%= opinion.ownerId.name %> <%= opinion.ownerId.surname %>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <% if(message){%>
        <div class="error--popup">
          <p class="error--message"><%= message %></p>
        </div>
      <% }%>