<h1><%= business.name %></h1>
<h2><%= business.description %></h2>
<h3>Pracownicy: </h3>
<% if(workers != null){ %>
    <ul>
        <% workers.forEach(function(worker) { %>
            <li><a href="/<%= worker._id %>">
                    <%= worker.name %>
                        <%= worker.surname%>
                </a>
            </li>
            <% }); %>
    </ul>
<% } %>

<h3>Usługi: </h3>
    <% if(services != null){ %>
    <% services.forEach(function(service){ %>
        <ul>
            <li>
                    <%= service.name %>
                    <br>
                    <%= service.description %>
                    <br>
                    <%= service.price %>zł, <%= service.duration %>h
            </li>
        </ul>
    <% }); %>
    <% }; %>

</ul>

<h3>Opinie: </h3>
<ul>
    <% if(opinions != null){ %>
    <% opinions.forEach(function(opinion){ %>
        <li>
            <%= opinion.ownerId.name %> <%= opinion.ownerId.surname %>
            <br>
            <%= opinion.rating %>
            <br>
            <%= opinion.comment %>
        </li>
    <% }); %>
    <%} %>

</ul>
<form action="/business/<%= business._id %>/opinion" method="POST">
    <label for="comment">
        <input type="text" name="comment">
    </label>
    <label for="rating">
        <input type="number" name="rating">
    </label>
    <input id="submit" type="submit" value="Dodaj opinie">
</form>
<% if(message){%>
    <div class="error--popup">
      <p class="error--message"><%= message %></p>
    </div>
<% }%>
