<% if(user){%>
<h1><%= user.name %> <%= user.surname %></h1>
<h3>Opinions: </h3>
<ul>
    <% opinions=user.opinions %>
    <% if(opinions != null){ %>
    <% opinions.forEach(function(opinion){ %>
        <li>
            <%= opinion.ownerName %>, <%= opinion.businessName %>
            <br>
            <%= opinion.rating %>
            <br>
            <%= opinion.comment %>
        </li>
    <% }); %>
    <% } %>


</ul>
<form action="/<%= user._id %>/opinion" method="POST">
    <label for="comment">
        <input type="text" name="comment">
    </label>
    <label for="rating">
        <input type="number" name="rating">
    </label>
    <input id="submit" type="submit" value="Dodaj opinie">
</form>
<% } %>